# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Power BI
*.pbix.autosave
*.tmp

# VS Code
.vscode/

# SQL Server
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log